body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: aquamarine;
}

.display {
    margin: 20px 20px 0 20px;
    background-color: grey;
    height: 20%;
}

.clearButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 20px 0 20px;
    height: 10%;
}

.clear, .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100%;
    width: 50%;
}

.numbersOperations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 70%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    gap: 10px;
}

.numOp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 25%;
    background-color: grey;
}